/* 全体の設定 */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 62.5%; /* 1 em を 10 px にするため*/
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  font-kerning: normal; /* フォントのカーニングを常に有効にする */
  font-feature-settings: "palt"; /* 自動カーニングさせる */
  letter-spacing: 0.02rem; /* 字間を調整 */
  -webkit-font-smoothing: antialiased; /* フォントにアンチエイリアスをかける (少し細く見える) */
  -moz-osx-font-smoothing: grayscale; /* 同上 */
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.73;
  color: hsl(235, 10%, 30%);
  background-color: hsl(0, 100%, 100%);
}

/* スマホでは文字を大きくする */
@media (max-width: 640px) {
  html {
    font-size: 75%;
  }
}

header {
  width: 600px;
  margin: 60px auto 120px;
  letter-spacing: -0.2rem;
}

header > a {
  text-decoration: none;
}

footer {
  width: 600px;
  margin: 120px auto 60px;
  text-align: right;
  letter-spacing: -0.2rem;
}

a {
  color: hsl(235, 10%, 30%);
}

a:visited {
  color: hsl(235, 10%, 50%);
}

/* トップページの設定 */
.articles {
  width: 600px;
  list-style: none;
  margin: 0 auto 20px;
  padding: 0;
}

.articles > li {
  margin: 60px 0;
}

.articles > li > a {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2rem;
}

.articles > li > a > div:first-child {
  white-space: nowrap;
}

.articles > li > a > div:last-child {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

/* 記事ページの設定 */
.title {
  margin: 40px 0;
}

h1 {
  width: 600px;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: bold;
}

.date {
  width: 600px;
  margin: 0 auto;
  text-align: right;
}

.content {
  margin: 40px 0;
}

.content p {
  width: 600px;
  margin: 40px auto;
}

.content p:first-child {
  margin-top: 0;
}

.content h2 + p {
  margin-top: 0;
}

.content p:last-child {
  margin-bottom: 0;
}

h2 {
  width: 600px;
  margin: 120px auto 20px;
  font-size: 2.4rem;
  font-weight: bold;
}

h2:first-child {
  margin-top: 0;
}

h2 + h2 {
  margin-top: 0;
}

h4 {
  width: 600px;
  margin: 10px auto 10px;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
}

.content ul {
  width: 580px;
  margin: auto;
  padding-left: 20px;
}

figure {
  width: 600px;
  margin: auto;
}

img {
  display: block;
  max-width: 600px;
  margin: 0 auto;
}

blockquote {
  width: 600px;
  margin: 20px auto;
}

blockquote > p {
  position: relative;
  width: 580px;
  padding-left: 20px;
}

blockquote > p::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #e3e4e6;
  border-radius: 8px;
}

.highlight {
  margin: 40px 0;
  background-color: #272822;
}

.highlight > div {
  max-width: 100%;
  margin: 0 auto;
}

.highlight table {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.highlight tbody {
  min-width: 600px;
  max-width: 100%;
}
