/* 全体の設定 */
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 62.5%; /* 1 em を 10 px にするため*/
    font-family: sans-serif;
    font-feature-settings: "palt"; /* 自動カーニングさせる */
    letter-spacing: 0.02rem; /* 字間を調整 */
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 2rem;
    line-height: 1.73;
    color: hsl(235, 20%, 30%);
    background-color: hsl(25, 50%, 99%);
}

/* スマホでは文字を大きくする */
@media (max-width: 640px) {
    html {
        font-size: 75%;
    }
}

/* 共通の設定 */
header {
    width: 600px;
    margin: 20px auto 120px;
    letter-spacing: -0.2rem;
}

footer {
    width: 600px;
    margin: 120px auto 20px;
    text-align: right;
    letter-spacing: -0.2rem;
}

/* トップページの設定 */
.articles {
    width: 600px;
    list-style: none;
    margin: 0 auto 20px;
    padding: 0;
}

.articles > li {
    margin: 40px 0;
}

.articles > li > a {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2rem;
}

.articles > li > a > div:first-child {
    white-space: nowrap;
}

.articles > li > a > div:last-child {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

/* 記事ページの設定 */
body > p {
    width: 600px;
    margin: 40px auto;
}

body > div {
    width: 600px;
    margin: auto;
}

body > ul {
    width: 560px;
    margin: auto;
    padding-left: 40px;
}

h1 {
    width: 600px;
    margin: 20px auto 120px;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}

h2 {
    width: 600px;
    margin: 120px auto 60px;
    font-size: 2.4rem;
    font-weight: normal;
    text-align: center;
}

h3 {
    width: 600px;
    margin: 60px auto 40px;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
}

h4 {
    width: 600px;
    margin: 10px auto 10px;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

img {
    display: block;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.highlighttable {
    table-layout: fixed;
    width: 100%;
    background-color: #272822;
    border-spacing: 0;
}

.highlighttable > tbody {
    display: block;
    width: 600px;
    margin: auto;
    background-color: #272822;
}

.highlighttable .linenos {
    width: 22px;
    padding-left: 2px;
    padding-right: 6px;
    color: #f8f8f2;
    text-align: right;
}

.highlighttable .code {
    width: 566px;
    padding-left: 2px;
    padding-right: 2px;
    overflow-x: scroll;
}

.highlighttable .highlight {
    width: 566px;
}
