html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 62.5%;
    font-family: sans-serif;
    font-feature-settings: "palt";
    letter-spacing: 0.02rem;
    overflow-x: hidden;
}

@media (max-width: 600px) {
    html {
        font-size: 75%;
    }
}

body {
    width: 600px;
    margin: auto;
    font-size: 2rem;
    line-height: 1.73;
    color: hsl(235, 20%, 30%);
    background-color: hsl(25, 50%, 99%);
}

header {
    padding: 20px;
    letter-spacing: -0.2rem;
}

footer {
    padding: 20px;
    text-align: right;
    letter-spacing: -0.2rem;
}

article {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 20px;
}

h1 {
    margin: 10px 0 20px;
    font-size: 2.4rem;
    text-align: center;
}

h2 {
    margin: 80px 0 20px;
    font-size: 2.2rem;
    text-align: center;
}

h3 {
    margin: 80px 0 20px;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.highlighttable {
    table-layout: fixed;
    width: 600px;
    background-color: #272822;
    border-spacing: 0;
}

@media (min-width: 601px) {
    .highlighttable {
        margin-left: -1000%;
        margin-right: -1000%;
        padding-left: 1000%;
        padding-right: 1000%;
    }
}

@media (max-width: 600px) {
    .highlighttable {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.highlighttable .linenos {
    width: 22px;
    padding-left: 2px;
    padding-right: 6px;
    color: #f8f8f2;
    text-align: right;
}

.highlighttable .code {
    width: 566px;
    padding-left: 2px;
    padding-right: 2px;
    overflow-x: scroll;
}
