// 全体の設定
html
  width 100%
  height 100%
  margin 0
  font-size 62.5%
  font-family -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif
  // フォントのカーニングを常に有効にする
  font-kerning normal
  // 自動カーニングさせる
  font-feature-settings "palt"
  // 字間を調整
  letter-spacing 0.02rem
  // フォントにアンチエイリアスをかける (少し細く見える)
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  width 100%
  height 100%
  margin 0
  font-size 1.8rem
  line-height 1.73
  color hsl(235, 10%, 30%)
  background-color hsl(0, 100%, 100%)

  @media (max-width 800px)
    // スマホでは行間を少し広くする
    line-height 1.9

header
  height 12vw
  margin 8px 8px 0 8px
  background hsl(0, 0%, 16%)

  @media (max-width 800px)
    height 48vw

  > a
    display block
    // 見た目で調整
    margin 0 0 0 -3vw
    font-size 24vw
    text-align-last justify
    letter-spacing -5vw
    transform-origin top center
    transform scaleY(.5)
    line-height .5
    color hsl(0, 100%, 100%)
    text-decoration none
    white-space nowrap

    @media (max-width 800px)
      transform scaleY(2)
      line-height .5

    &:visited
      color hsl(0, 100%, 100%)

footer
  margin 240px 0 20px
  font-size 1.2rem
  text-align center
  color hsl(235, 10%, 65%)

  @media (max-width 800px)
    width 95%

a
  color hsl(235, 10%, 30%)

  &:visited
    color hsl(235, 10%, 50%)

.about
  margin 0 8px 0
  padding 120px 0 240px
  text-align center
  background hsl(0, 0%, 16%)
  color hsl(0, 100%, 100%)

  @media (max-width 800px)
    padding 60px 0 120px

// トップページの設定
.articles
  width 800px
  list-style none
  margin 0 auto 20px
  padding 0

  @media (max-width 800px)
    width 95%

  > li
    margin 60px 0 240px

    > a
      display block
      text-align center

    > div
      font-size 1.2rem
      text-align center
      color hsl(235, 10%, 65%)

// 記事ページの設定
.title
  margin 0 8px 8px 8px
  padding 120px 0 240px
  background hsl(0, 0%, 16%)
  color hsl(0, 100%, 100%)

  @media (max-width 800px)
    padding 60px 0 120px

h1
  max-width 1200px
  width 100%
  margin 0 auto
  font-size 3rem
  font-weight bold
  text-align center

  @media (max-width 800px)
    width 95%

.date
  max-width 1200px
  width 100%
  margin 10px auto 0
  font-size 1.2rem
  text-align center
  color hsl(235, 10%, 65%)

  > a
    color hsl(235, 10%, 65%)

    &:visited
      color hsl(235, 10%, 65%)

  @media (max-width 800px)
    width 95%

.content
  margin 40px 0

  p
    width 800px
    margin 40px auto

    @media (max-width 800px)
      width 95%

    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

  h2
    width 800px
    margin 120px auto 20px
    font-size 2.4rem
    font-weight bold

    @media (max-width 800px)
      width 95%

    &:first-child
      margin-top 0

    + p
      margin-top 0

    + h2
      margin-top 0

  h4
    width 800px
    margin 10px auto 10px
    font-size 1.8rem
    font-weight normal
    text-align center

    @media (max-width 800px)
      width 95%

  ul, ol
    width 780px
    margin auto
    padding-left 20px

    @media (max-width 800px)
      width 90%
      padding-left 5%

  figure
    width 800px
    margin auto

    @media (max-width 800px)
      width 95%

  img
    display block
    max-width 800px
    margin 0 auto

    @media (max-width 800px)
      max-width 95%

  blockquote
    width 800px
    margin 20px auto

    @media (max-width 800px)
      width 95%

    > p
      position relative
      width 780px
      padding-left 20px

      @media (max-width 800px)
        width 96%
        padding-left 4%

      &::before
        content ""
        display block
        position absolute
        top 0
        left 0
        width 4px
        height 100%
        background #e3e4e6
        border-radius 8px

  .highlight
    margin 40px 0
    background-color #272822

    > div
      max-width 100%
      margin 0 auto

    table
      // Chroma が要素に直接スタイルを指定しているものを上書きするため
      display flex !important
      justify-content center
      align-items center

    tbody
      min-width 800px
      max-width 98%

      @media (max-width 800px)
        min-width 95%
        max-width 95%
