html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  font-kerning: normal;
  font-feature-settings: "palt";
  letter-spacing: 0.02rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.73;
  color: #454654;
  background-color: #fff;
}
@media (max-width: 640px) {
  body {
    line-height: 1.9;
  }
}
header {
  height: 15vw;
}
@media (max-width: 640px) {
  header {
    height: 50vw;
  }
}
header > a {
  display: block;
  margin: -2.5vw 0 0 -3vw;
  font-size: 24vw;
  line-height: 1;
  text-align-last: justify;
  letter-spacing: -5vw;
  transform-origin: top center;
  transform: scaleY(0.5);
  color: #818398;
  text-decoration: none;
  white-space: nowrap;
}
@media (max-width: 640px) {
  header > a {
    margin: -10.5vw 0 0 -3vw;
    transform: scaleY(2);
  }
}
header > a:visited {
  color: #818398;
}
header > a::before,
header > a::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 21vw;
  width: 0;
  height: 0.5vw;
  background: #c3ffde;
  transition: 0.2s ease-out;
}
@media (max-width: 640px) {
  header > a::before,
  header > a::after {
    height: 0.4vw;
  }
}
header > a::before {
  left: 50%;
}
header > a::after {
  right: 50%;
}
header > a:hover::before,
header > a:hover::after {
  width: 50%;
}
footer {
  width: 600px;
  margin: 80px auto;
}
footer .writer {
  text-align: right;
  letter-spacing: -0.2rem;
}
footer .about {
  margin-top: 200px;
}
footer .year {
  margin-top: 80px;
}
@media (max-width: 640px) {
  footer {
    width: 95%;
  }
}
a {
  color: #454654;
}
a:visited {
  color: #73758c;
}
.articles {
  width: 600px;
  list-style: none;
  margin: 0 auto 20px;
  padding: 0;
}
@media (max-width: 640px) {
  .articles {
    width: 95%;
  }
}
.articles > li {
  margin: 60px 0;
}
.articles > li > a {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-gap: 2vw;
}
.articles > li > a > div:first-child {
  text-align: right;
  white-space: nowrap;
}
.articles > li > a > div:last-child {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
.title {
  margin: 40px 0;
}
h1 {
  width: 600px;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: bold;
}
@media (max-width: 640px) {
  h1 {
    width: 95%;
  }
}
.date {
  width: 600px;
  margin: 0 auto;
  text-align: right;
}
@media (max-width: 640px) {
  .date {
    width: 95%;
  }
}
.content {
  margin: 40px 0;
}
.content p {
  width: 600px;
  margin: 40px auto;
}
@media (max-width: 640px) {
  .content p {
    width: 95%;
  }
}
.content p:first-child {
  margin-top: 0;
}
.content p:last-child {
  margin-bottom: 0;
}
.content h2 {
  width: 600px;
  margin: 120px auto 20px;
  font-size: 2.4rem;
  font-weight: bold;
}
@media (max-width: 640px) {
  .content h2 {
    width: 95%;
  }
}
.content h2:first-child {
  margin-top: 0;
}
.content h2 + p {
  margin-top: 0;
}
.content h2 + h2 {
  margin-top: 0;
}
.content h4 {
  width: 600px;
  margin: 10px auto 10px;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
}
@media (max-width: 640px) {
  .content h4 {
    width: 95%;
  }
}
.content ul {
  width: 580px;
  margin: auto;
  padding-left: 20px;
}
@media (max-width: 640px) {
  .content ul {
    width: 90%;
    padding-left: 5%;
  }
}
.content figure {
  width: 600px;
  margin: auto;
}
@media (max-width: 640px) {
  .content figure {
    width: 95%;
  }
}
.content img {
  display: block;
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .content img {
    max-width: 95%;
  }
}
.content blockquote {
  width: 600px;
  margin: 20px auto;
}
@media (max-width: 640px) {
  .content blockquote {
    width: 95%;
  }
}
.content blockquote > p {
  position: relative;
  width: 580px;
  padding-left: 20px;
}
@media (max-width: 640px) {
  .content blockquote > p {
    width: 96%;
    padding-left: 4%;
  }
}
.content blockquote > p::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #e3e4e6;
  border-radius: 8px;
}
.content .highlight {
  margin: 40px 0;
  background-color: #272822;
}
.content .highlight > div {
  max-width: 100%;
  margin: 0 auto;
}
.content .highlight table {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.content .highlight tbody {
  min-width: 600px;
  max-width: 98%;
}
@media (max-width: 640px) {
  .content .highlight tbody {
    min-width: 95%;
    max-width: 95%;
  }
}
